<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Validate Phone</title>
    <style>
        /* Custom CSS styles */
        body {
            background-image: url(https://www.solodev.com/core/fileparse.php/131/urlt/phone-validation.png);
            background-size: cover;
        }

        h1 {
            padding: 100px;
            padding-bottom: 50px;
        }

        .form-control {
            padding-left: 300px;
            padding-right: 300px;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <br>
        <h1><strong>Validate Your Mobile Number</strong></h1>
        <form action="/numbersubmit" method="get">
            <div class="form-group">
                <p><input type="text" name="number" class="form-control" placeholder="Enter Your Number"></p>
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Enter">
        </form>
    </div>
</body>
</html>
