<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="path/to/your/new/custom.css"> <!-- Add the path to your custom CSS file -->
</head>
<body style="background-color: rgb(212, 126, 197); color: rgb(10, 6, 12);">
    <div class="text-center">
        <h1 style="padding-top: 200px;">Oops!! Login Failed. Try again.</h1>
    </div>
</body>
</html>
